body {
    background-color: white;
    font-size: 11pt;
    font-family: helvetica, arial, freesans;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #4F4F4F;
}

div.main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div.container {
    background-color: #F4F4F4;
    border-right: 1px solid #737373;
    border-left: 1px solid #737373;
    padding: 10px;
}

header.page-header {
    height: 100px;
    background-image: -webkit-linear-gradient(top, #E2E2E2,  #C7C7C7);
    background-image: -moz-linear-gradient(top, #E2E2E2, #C7C7C7);
    background-image: -ms-linear-gradient(top, #E2E2E2, #C7C7C7);
    background-image: linear-gradient(top, #E2E2E2, #C7C7C7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #737373;
    color: #4F4F4F;
}

div.toolbar-container {
    padding-bottom: 10px;
}

div.toolbar {
    border-radius: 5px;
    padding: 3px;
    background-color: #D4DDE6;
    border: 1px solid #7096AB;
}

div.content-container {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #737373;
}

footer.page-footer {
    height: 30px;
    background-image: -webkit-linear-gradient(top, #E2E2E2,  #C7C7C7);
    background-image: -moz-linear-gradient(top, #E2E2E2, #C7C7C7);
    background-image: -ms-linear-gradient(top, #E2E2E2, #C7C7C7);
    background-image: linear-gradient(top, #E2E2E2, #C7C7C7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #737373;
    color: #4F4F4F;
    text-align: center;
    padding-top: 10px;
}

a {
    color: #4F4F4F;
    text-shadow: 1px 1px 0 #F4F4F4;
}

a:hover {
    color: #313131;
    text-decoration: underline;
}

a.menu {
    font-weight: bold;
}

.drawing-toolbar-button {
    display: block;
    margin-bottom: 5px;
}

canvas {
    border: 1px solid #737373;
}

canvas#plot {
    width: 550px;
    height: 350px;
    background-color: white;
}

canvas#brush-size {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

hr {
    border: 0px;
    background-color: #737373;
    height: 1px;
}

#gallery-grid {
    border-collapse: separate;
    border-spacing: 10px;
    empty-cells: hide;
    border-style: none;
}

#gallery-grid td {
    width: 270px;
    height: 200px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #E2E2E2,  #C7C7C7);
    background-image: -moz-linear-gradient(top, #E2E2E2, #C7C7C7);
    background-image: -ms-linear-gradient(top, #E2E2E2, #C7C7C7);
    background-image: linear-gradient(top, #E2E2E2, #C7C7C7);
    border: 1px solid #737373;
}

#gallery-grid td:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#gallery-grid td.selected {
    background-color: #D4DDE6;
    border: 1px solid #7096AB;
    background-image: none;
}


.gallery-image {
    width: 253px;
    heigth: 161px;
    margin: 0px;
    margin-left: 8px;
    margin-top: 3px;
}